<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

<f:layout name="Content"/>

<f:section name="Configuration">
    <flux:form id="sectionGradient" options="{group:'MobApp',Fluidcontent: {sorting:10},icon:'EXT:t3content_mobapp/ext_icon.png'}" localLanguageFileRelativePath="/Resources/Private/Language/locallang_sectiongradient.xlf">
	    <flux:grid>
	        <flux:grid.row>
	            <flux:grid.column colspan="12" name="content" colPos="400" />
	        </flux:grid.row>
	    </flux:grid>
    </flux:form>
</f:section>

<f:section name="Preview">
Section Gradient
<hr/>
</f:section>

<f:section name="Main">
	<header class="section bg-gradient">
		<flux:content.render area="content" />
	</header>
</f:section>

</div>

